*{
	margin: 0;
	padding: 0;
}
.container{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
header{
	background-color: #009688;
    padding: 50px;
    text-align: center;
}

header h1{
	color: #fff;
	font-family: arial;
}




.sidebar{
	width: 360px;
	float: left;
}
.sidebar-box {
    margin: 10px 0;
}
.sidebar-box p{
	padding: 10px;
}




.content {
    float: left;
    width: 600px;
    margin: 10px 0;
    padding: 0 30px;
    box-sizing: border-box;
}

footer {
    background-color: #009688;
    padding: 50px;
    color: #fff;
    font-size: 30px;
    text-align: center;
}